<div class="mainContainer">

    <form class="example-form">

        <div>
            <div class="searchContainer">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bilder</mat-label>
                    <input [(ngModel)]="service.searchImage" name="name" matInput placeholder="text..." value="">
                </mat-form-field>

                <div class="example-button-row">
                    <button mat-raised-button (click)="getImage()" color="primary">Search</button>
                </div>
            </div>

            <div class="imageContainer">
                <mat-button-toggle-group *ngFor="let img of image" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold" (click)="selectImage(img)"><img class="imageSearch" src={{img}}></mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <!-- <img class="imageSearch" *ngFor="let img of image" src={{img}}> -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Genus</mat-label>
            <mat-select [(ngModel)]="service.foodsClass.genus" name="food">
                <mat-option *ngFor="let food of service.foodsClass.foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="service.foodsClass.name" name="name" matInput placeholder="text..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input [(ngModel)]="service.foodsClass.price" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Calories</mat-label>
            <input [(ngModel)]="service.foodsClass.calories" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Carbohydrates</mat-label>
            <input [(ngModel)]="service.foodsClass.carbohydrates" name="number" matInput placeholder="number..."
                value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Protein</mat-label>
            <input [(ngModel)]="service.foodsClass.protein" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fat</mat-label>
            <input [(ngModel)]="service.foodsClass.fat" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addFoodToDoc()">Add</button>
        </div>

    </form>

</div>