.mainContainer {
    display: flex;
    justify-content: center;
}

mat-card {
    margin-bottom: 10px;
}

.searchContainer {
    display: flex;
}

.imageContainer {
    display: flex;
    justify-content: space-between;
}

.imageSearch {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.orderImage {

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 3px;
    }
}


::ng-deep .mat-grid-tile-content {
    flex-direction: column;
    align-items: flex-start !important;
}

.example-form {
    margin-top: 30px;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.example-full-width {
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
}

.amountContainer {
    display: flex;
    align-items: center;

    h3 {
        margin-left: 50px;
        text-align: end;
    }
}

.imageContainer {
    ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        padding: 0px;
        width: 50px;
    }
}

::ng-deep .mat-dialog-actions {
    justify-content: flex-end;
}