<div class="mainContainer">

    <form class="example-form">

        <mat-card>
            <!-- <div class="searchContainer">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bilder</mat-label>
                    <input [(ngModel)]="service.searchImage" name="name" matInput placeholder="text..." value="">
                </mat-form-field>

                <div class="example-button-row">
                    <button mat-raised-button (click)="getImage()" color="primary">Search</button>
                </div>
            </div> -->

            <div class="imageContainer">
                <!-- <mat-label>Chose Image</mat-label> -->
                <mat-button-toggle-group class="imgWidth" *ngFor="let img of image" name="fontStyle"
                    aria-label="Font Style">
                    <mat-button-toggle value="bold" (click)="selectImage(img)">
                        <img class="imageSearch" src={{img}}>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </mat-card>
        <!-- <img class="imageSearch" *ngFor="let img of image" src={{img}}> -->

        <mat-card>
            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile class="orderImage">
                    <h3 *ngIf="service.foodsClass.img===''">Chose image!</h3>
                    <img *ngIf="service.foodsClass.img" src={{service.foodsClass.img}}>
                </mat-grid-tile>
                <mat-grid-tile class="orderDescription">
                    {{service.orderCurrentFoods['euro']}} Euro
                    <h2>{{service.orderCurrentFoods['product']}}</h2>
                    {{service.orderCurrentFoods['unit']}}<br>
                    {{service.orderCurrentFoods['origin']}}
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="amountContainer">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Amount</mat-label>
                <input [(ngModel)]="service.orderPrice" name="name" type="number" min="1" matInput
                    placeholder="price..." value="">
            </mat-form-field>
            {{service.orderCurrentFoods['unit']}}
            <h3>{{service.result()}} EURO</h3>
        </mat-card>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="orderFood()">Add</button>
        </div>

    </form>

</div>