<div class="container">

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="Fruits">
        <mat-button-toggle mat-raised-button matBadge="{{ fruitsValue }}" (click)="changeGenusFilter('Fruits')"
            value="Fruits">Fruits</mat-button-toggle>
        <mat-button-toggle mat-raised-button matBadge="{{ vegetablesValue }}" (click)="changeGenusFilter('Vegetables')"
            value="Vegetables">
            Vegetables</mat-button-toggle>
        <mat-button-toggle mat-raised-button matBadge="{{ milkValue }}" value="Milk">Milk</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-card class="cardGenus">
        <mat-card class="cardGenusName" matTooltip="{{ all['genus']}}: {{ all['name']}} 
        Price: {{all['price']}}" *ngFor="let all of filterGenusArray">{{
            all['name'] }}</mat-card>
        <!-- <table>
            <tr *ngFor="let all of filterGenusArray">
                <td>{{ all['name'] }}</td>
            </tr>
        </table> -->
    </mat-card>

</div>

<div class="example-button-row">
    <button mat-raised-button (click)="openDialog()" color="primary">Add new Product</button>
</div>