<div class="mainContainer">

    <form class="example-form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Genus</mat-label>
            <mat-select [(ngModel)]="foodsClass.genus" name="food">
                <mat-option *ngFor="let food of foodsClass.foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="foodsClass.name" name="name" matInput placeholder="text..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input [(ngModel)]="foodsClass.price" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Calories</mat-label>
            <input [(ngModel)]="foodsClass.calories" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Carbohydrates</mat-label>
            <input [(ngModel)]="foodsClass.carbohydrates" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Protein</mat-label>
            <input [(ngModel)]="foodsClass.protein" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fat</mat-label>
            <input [(ngModel)]="foodsClass.fat" name="number" matInput placeholder="number..." value="">
        </mat-form-field>

        <div class="example-button-row">
            <button mat-raised-button (click)=" addFruitToDoc()" color="primary">Add</button>
        </div>

        <mat-card class="cardTable">
            <table>
                <tr *ngFor="let doc of foodsArray">
                    <td>{{ doc.name }} {{ doc.price }}
                        <div class="example-button-row">
                            <button mat-raised-button (click)=" deleteOneDoc(doc.id)" color="primary">Del</button>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card>

    </form>


</div>