.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeGenus {
    margin-top: 20px;
}

mat-button-toggle-group {
    margin-left: 6px;
    margin-right: 6px;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    width: 100px;
}

.mat-form-field {
    font-size: 14px;
    width: 600px;
}

table {
    margin: 20px;
    width: 600px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding-right: 16px;
}

::ng-deep tr.mat-row:hover {
    background: whitesmoke;
    cursor: pointer;
}

::ng-deep tr.mat-row:active {
    background: #efefef;
}